.frame-child,
.login-child {
  position: relative;
  border-radius: var(--br-2xl);
  display: none;
}
.login-child {
  width: 332px;
  height: 181px;
  background: linear-gradient(270deg, #4fc7f3, #012137);
  max-width: 100%;
}
.frame-child {
  height: 37.2px;
  width: 291.2px;
}
.add-movie-show {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 15.7px;
  font-family: var(--font-irish-grover);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 10.9px var(--padding-39xl) 10.6px;
  background-color: var(--color-lightcyan);
  align-self: stretch;
  border-radius: var(--br-2xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.vector-parent:hover {
  background-color: #bae0e0;
}
.frame-item {
  height: 37.2px;
  width: 291.2px;
  position: relative;
  border-radius: var(--br-2xl);
  display: none;
}
.ongoing-movie-shows {
  flex: 1;
  position: relative;
  line-height: 15.7px;
  z-index: 1;
}
.login,
.vector-group {
  border-radius: var(--br-2xl);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.vector-group {
  align-self: stretch;
  background-color: var(--color-lightcyan);
  flex-direction: row;
  padding: 10px var(--padding-39xl) 11.5px;
  white-space: nowrap;
}
.login {
  position: absolute;
  top: 361px;
  left: 837px;
  background: linear-gradient(270deg, #4fc7f3, #012137);
  width: 332px;
  flex-direction: column;
  padding: 36px var(--padding-xl) 36.1px;
  box-sizing: border-box;
  gap: 34.5px;
  max-width: 100%;
}
.frame-inner {
  height: 27px;
  width: 158px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-300);
  display: none;
}
.connected1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.moviechain,
.rectangle-parent {
  position: absolute;
  display: flex;
  z-index: 1;
}
.rectangle-parent {
  top: 574px;
  left: 924px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-300);
  width: 158px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  font-size: 13px;
  color: var(--color-lightcyan);
  font-family: var(--font-laila);
}
.moviechain {
  margin: 0;
  top: 193px;
  left: 757px;
  font-size: 80px;
  font-weight: 400;
  font-family: var(--font-inspiration);
  align-items: center;
  justify-content: center;
  width: 489px;
  height: 102px;
  text-shadow: 0 8px 1.1px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.login-pages-illustration-ui-d {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -49px;
  max-height: 100%;
  width: 1329px;
  object-fit: cover;
}
.profile-icon1 {
  position: absolute;
  top: 35px;
  left: 1171px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: contain;
  z-index: 1;
}
.illustration-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.connected {
  width: 100%;
  height: 832px;
  position: relative;
  background-color: var(--color-paleturquoise);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-irish-grover);
}
@media screen and (max-width: 750px) {
  .moviechain {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .moviechain {
    font-size: var(--font-size-5xl);
  }
}
